body {
    margin: 0;
    padding: 0;
    background: #EEEEEE;
    font-size: 12px;
}

.page {
    width: 1000px;
    min-height: 1440px;
    margin: 50px auto 50px auto;
    border-radius: 5px;
    box-shadow: 0 0.3px 0.7px rgba(142,128,106, 0.126), 0 0.9px 1px rgba(142,128,106, 0.179), 0 1.8px 3.5px rgba(142,128,106, 0.224), 0 3.7px 7.3px rgba(142,128,106, 0.277), 0 10px 20px rgba(142,128,106, 0.3);
    transition: 0.5s ease;
}

.page:hover {
    box-shadow: 0 0.7px 1px rgba(142,128,106, 0.157), 0 1px 2px rgba(142,128,106, 0.224), 0 3.5px 5.3px rgba(142,128,106, 0.28), 0 7.3px 11px rgba(142,128,106, 0.346), 0 15px 25px rgba(142,128,106, 0.3);
}

.title {
    color: #0D0403;
    border-radius: 5px 5px 0 0;
    padding: 20px 30px 0 30px;
    height: 200px;
    background: #FFFFFF;
    /*border-bottom: 1px solid #000;*/
}

.CVName {
    font-size: 45px;
    display: inline-block;
    margin-bottom: 10px;
}
.CVPosition {
    font-size: 22px;
    margin-left: 30px;
}
.CVBase {
    font-size: 15px;
}
.titleLine {
    height: 1px;
    margin: 0 auto 15px auto;
    box-shadow: 1px 1px #CCCCCC;
}
.CVMassage {
    font-size: 14px;
    margin: 10px 0;
}